footer {
  padding: 60px 16.8% 63px;
  background-color: #f2f2f2;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  font-family: "SpoqaHanSansNeo-Regular";
}

.footer-nav {
  display: flex;
  margin-bottom: 30px;
  font-size: 14px;
}
.footer-nav-link {
  font-size: 14px;
}

.footer-nav li:not(:last-child)::after {
  content: "|";
  margin: 0px 14px;
}

.footer-social {
  display: flex;
  gap: 14px;
  height: fit-content;
}

.footer-social-link {
  background-color: #767676;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.footer-nav li:nth-child(3) a {
  font-family: "SpoqaHanSansNeo-Bold";
}

.instagram {
  background-image: url("../assets/icon-insta.svg");
}
.facebook {
  background-image: url("../assets/icon-fb.svg");
}
.youtube {
  background-image: url("../assets/icon-yt.svg");
}

@media (max-width: 1200px) {
  .footer-links {
    flex-direction: column;
  }
  .footer-social {
    align-self: self-end;
    margin-bottom: 22px;
  }
  .footer-nav li:not(:last-child)::after {
    margin: 0px 5px;
  }
}
@media (max-width: 830px) {
  .footer-nav {
    flex-direction: column;
    gap: 8px;
  }
  .footer-nav li:not(:last-child)::after {
    display: none;
  }
}

.divide-line {
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
}

.footer-info {
  margin-top: 30px;
  color: #767676;
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 14px;
}
.footer-info p:first-child {
  font-family: "SpoqaHanSansNeo-Bold";
}
.footer-info p {
  margin-bottom: 12px;
}
