@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("../font/SpoqaHanSansNeo-Regular.woff") format("woff");
}
@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("../font/SpoqaHanSansNeo-Bold.woff") format("woff");
}

.main-banner {
  background-color: #f2f2f2;
  height: 500px;
}

.product-display {
  padding: 4.2% 16.8%;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0px 70px;
}

.product-item {
  width: 100%;
  margin-bottom: 78px;
}

.product-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}

.store-name {
  color: #767676;
  font-family: "SpoqaHanSansNeo-Regular";
  margin: 16px 0 10px;
}

.product-name {
  font-size: 1.125rem;
  font-family: "SpoqaHanSansNeo-Regular";
  margin-bottom: 10px;
}

.price {
  font-size: 1.5rem;
  font-family: "SpoqaHanSansNeo-Bold";
}

.price::after {
  content: "원";
  font-size: 1rem;
  margin-left: 2px;
}
