@font-face {
  font-family: "SpoqaHanSansNeo-Medium";
  src: url("../font/SpoqaHanSansNeo-Medium.woff") format("woff");
}
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("../font/SpoqaHanSansNeo-Regular.woff") format("woff");
}
@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("../font/SpoqaHanSansNeo-Bold.woff") format("woff");
}

.product-display {
  padding: 4.2% 16.8%;
  /* background-color: antiquewhite; */
}
.product-list {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0px 70px;
}

.main-banner {
  background-color: #f2f2f2;
  height: 500px;
}

.product-item {
  /* background-color: gold; */
  width: 30%;
  margin-bottom: 78px;
  flex: 1 0 300px;
}

.product-img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}

.store-name {
  color: #767676;
  font-family: "SpoqaHanSansNeo-Regular";
  margin: 16px 0 10px;
}

.product-name {
  font-size: 1.125rem;
  font-family: "SpoqaHanSansNeo-Regular";
  margin-bottom: 10px;
}

.price {
  font-size: 1.5rem;
  font-family: "SpoqaHanSansNeo-Bold";
}

.price::after {
  content: "원";
  font-size: 1rem;
  margin-left: 2px;
}
